@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DM Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
background-image: url('../public/bg1.jpg');

background-color: rgb(121, 118, 118);
background-repeat: repeat;
background-size:400px;
background-blend-mode:multiply;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3{
  font-family: 'Courier Prime', monospace;
font-family: 'DM Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

